<%- include('../includes/header') %>
  <link rel="stylesheet" href="body.css">
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <%- include('../includes/navigation') %>
  <h3>products page......</h3>
<%- include('../includes/footer') %>