<%- include('includes/header') %>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="404_Body.css">
</head>

<body>
  <%- include('includes/navigation') %>
  <main>
    <h2>Something Went Wrong, That's All We Know....</h2>
  </main>
<%- include('includes/footer') %>