<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{docTitle }}</title>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="404_Body.css">
</head>

<body>
  <header class="main_header">
  <nav class="main_header_nav">
    <ul class="main_header_item_list">
      <li class="main_header_item"><a href="/">Shop</a></li>
      <li class="main_header_item">
        <a href="/add-product">add-product</a>
      </li>
      <li class="main_header_item"><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
  <main>
    <h2>Something Went Wrong, That's All We Know....</h2>
  </main>
</body>
</html>