body {
  background-image: url('https://cdn3.vectorstock.com/i/1000x1000/37/27/oops-something-went-wrong-vector-28313727.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  height:800px;
  background-position: center;
}