.card-items {
  display: flex;
  flex-wrap: wrap;
  /* width:fit-content; */
  justify-content: center;
  padding: 30px;
  /* border: 1px solid #000; */
  /* background-color: #0000ff; */
}
.card {
  /* border: 2px solid #0000ff; */
  border-radius: 10px;
  padding: 2px;
  width: 80%;
  margin: auto;
  margin-bottom: 70px;
  /* background-color: #b2beb5; */
  color: #cfc;
}
/* .card-list {
  background-color: burlywood;
} */