.card-items {
  display: flex;
  flex-wrap: wrap;
  /* width:fit-content; */
  justify-content: center;
  padding: 30px;
  border: 1px solid #000;
  background-color: cornflowerblue;
}
.card {
  border: 2px solid #0000ff;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  margin: auto;
  margin-bottom: 70px;
  background-color: #ccc;
}
.card-list {
  background-color: burlywood;
}